.introduction {
  flex-direction: column;
  margin-top: 3em;
}
.introduction__name {
  color: var(--clr-primary);
}
.introduction > :nth-child(2) {
  margin-top: 1.2em;
  font-size: 2rem;
  line-height: 1.2;
  color: var(--clr-fg-alt);
}

.introduction__desc {
  font-size: 1rem;
  max-width: 85%;
  text-align: center;
}

.introduction__desc,
.introduction__contact {
  margin-top: 2.4em;
}

.introduction .link--icon {
  margin-right: 0.8em;
}

.introduction .btn--outline {
  margin-right: 1em;
}
.btnResume {
  color: var(--clr-primary);
  border: 2px solid var(--clr-primary);
  border-radius: 5px;
  height: 50px;
  cursor: pointer;
  padding: 0px 30px;
  margin-top: 10px;
}
.btnResume:hover {
  background-color: var(--clr-primary);
  color: var(--clr-bg);
}

@media (max-width: 768px) {
  .mobileHead {
    align-content: center;
  }
  .app .introduction {
    margin-top: 2em;
    justify-content: center;
    align-items: center;
  }
  .introduction > :nth-child(2) {
    font-size: 1.5rem;
  }
}
